# Copyright (c) 2026 Zach Metcalf. All Rights Reserved.

SLACK_API_URL=https://slack.com/api
SLACK_PROXY_KEY=...

# static mode:
# SLACK_BOT_TOKEN=xoxb-...

# token rotation mode:
# SLACK_CLIENT_ID=...
# SLACK_CLIENT_SECRET=...
# SLACK_REFRESH_TOKEN=...
